<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146409900-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146409900-2');
</script>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000" />
	  <meta property="og:image" content="{{site.logo}}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
     <!-- Web Application Manifest -->
	<link rel="manifest" href="manifest.webmanifest">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="XinYaanZyoy">
	<meta name="theme-color" content="grey">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="XinYaanZyoy">
	<meta name="apple-mobile-web-app-status-bar-style" content="grey">
	
	<!-- Tile icon for Win8 -->
	<meta name="msapplication-TileColor" content="grey">
	<meta name="msapplication-navbutton-color" content="grey">
  </head>

  <body>
	  <hr>
    <header>
      <div class="container" style="text-align:center">
        <h1 id="nav"> <a href="/onlinecoursenotes">{{ page.title | default: site.github.repository_name }}</a>/<a href="#">{{page.path}} & {{page.url}}</a> </h1>
        <h2><a class="icon" href="https://XinYaanZyoy.github.io">XinYaanZyoy</a>'s {{ page.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
   <hr>
	document.onload = ()=>{
    url = document.URL;
    console.log(url);
    x = [];
    url.split('/').forEach((e)=>{if(e!="")x.push(e)});
    console.log(x);
    if(x.length == 4){
        name = x.pop();
        console.log(name);
        tag = document.getElementById("nav");
        y = "<a href=\"\/onlinecoursenotes\/"+name+"\">"+name+"</a>"
        console.log(y);
        tag.innerHTML = y;
    }
    if(x.length>4){
        name1 = x[3];
        name2 = x.pop().split('.');
        name2.pop();
        name2 = name2.join('.');
        console.log(name1, name2);
        tag = document.getElementsByTagName("h1")[0];
        y = "<a href=\"\/onlinecoursenotes\/"+name1+"\">"+name1+"</a> / <a href=\""+url+"\">"+name2+"</a>";
        console.log(y);
        tag.innerHTML = y;
    }
}
  </body>
</html>
